/*? global clearing */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

:root {
  --brand: #9755ed;
  --answerChoose: hsl(90, 59%, 27%);
}

.heading {
  line-height: 1.35;
  margin-bottom: 10rem;
}
.color-brand {
  color: var(--brand);
}

.btn-brand {
  background: var(--brand) !important;
}
#btnRulesQuiz,
#btnStartQuiz {
  transition: all 280ms ease-in-out;
}
#btnRulesQuiz:active,
#btnStartQuiz:active {
  transform: scale(0.95);
}
.container {
  max-width: 700px !important;
  width: 100%;
}

.content-loader {
  width: 0%;
  height: 5px;
  border-radius: 8px;
  transition: all 280ms ease-in-out;
  background: #9755ed;
}

.chooseAnswer {
  border: 1px solid rgb(223, 219, 219);
  border-radius: 3px;
  cursor: pointer;
  padding: 0.6rem 1rem;
  margin-top: 1rem;
}

.btnNext {
  color: #5818ab !important;
  font-weight: bold !important;
  transition: all 280ms ease-in-out !important;
  border: transparent !important;
}

.btnNext:active {
  transform: translateX(10px);
}
